:root {
  --primary: #6E07F3;       
  --primary-light: #8f4dff; 
  --primary-soft: #f2e9ff;

  --background: #ffffff;
  --text: #1f1f1f;
  --card-bg: #ffffff;        
  --navbar-bg: #6E07F3; 
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  margin: 0;
}

.navbar {
  background-color: var(--navbar-bg);
  color: white;
  padding: 16px;
  box-shadow: 2px 0px 12px rgba(0,0,0,0.1);
}

section {
  background-color: var(--card-bg);
  border-left: 6px solid var(--primary);
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

* {
  scroll-behavior: smooth;
  transition: background-color 0.25s ease, color 0.25s ease;
}
